.app-footer {
    width: 100%;
    padding: 20px 0;
    background-color: #f8f9fa;
    border-top: 1px solid #e7e7e7;
    text-align: center;
    color: #6c757d;

    margin-top: auto;
}

.app-footer p {
    margin: 0;
    font-size: 0.9rem;
}