<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link rel="stylesheet" href="../static/styles/home.css" th:href="@{/styles/home.css}">
    <link rel="stylesheet" href="../static/styles/header.css" th:href="@{/styles/header.css}">
    <link rel="stylesheet" href="../static/styles/button-style.css" th:href="@{/styles/button-style.css}">
</head>
<body>
<header>
    <div th:replace="header :: header"></div>
</header>
<main class="main-div">
    <div th:if="${isLoggedIn}">
        <h2>Find correct Words</h2>
        <div class="flashcard-container">
            <div th:each="word, iterStat : ${wordsToRepeat}" th:if="${iterStat.index < 8}" class="flashcard" th:data-id="${word}">
                <div class="flashcard-front">
                    <p class="flashcard-word" th:text="${word.word}">Word</p>
                </div>
                <div class="flashcard-back">
                    <p class="flashcard-translation" th:text="${word.translation}">Translation</p>
                </div>
            </div>
        </div>
        <div class="reload-button-container">
            <button class="reload-button" onclick="location.reload()">Reload</button>
        </div>
    </div>
    <div th:if="${!isLoggedIn}">
        <p>Please log in to see the words to repeat.</p>
    </div>
</main>
<script>
    document.addEventListener('DOMContentLoaded', function() {
        const flashcards = document.querySelectorAll('.flashcard');
        flashcards.forEach(flashcard => {
            flashcard.addEventListener('click', function() {
                const word = flashcard.querySelector('.flashcard-word').textContent;
                const translation = flashcard.querySelector('.flashcard-translation').textContent;
                checkAnswer(word, translation);
                reloadFlashcard(flashcard);
                flashcard.classList.add('flashcard-pulsing');
                setTimeout(() => {
                    flashcard.classList.remove('flashcard-pulsing');
                }, 1500);
            });
        });
    });

    function checkAnswer(word, translation) {
        fetch(`/checkAnswer/${word}/${translation}`)
            .then(response => response.json())
            .then(correctWordOnView => {
                if (correctWordOnView === 8) {
                    showPopup('Now all words are correct. Restarting...');
                    setTimeout(() => {
                        location.reload();
                    }, 5000);
                }
            })
            .catch(error => console.error('Error:', error));
    }

    function reloadFlashcard(flashcard) {
        fetch(`/reloadFlashcard`)
            .then(response => response.json())
            .then(data => {
                flashcard.querySelector('.flashcard-word').textContent = data.word;
                flashcard.querySelector('.flashcard-translation').textContent = data.translation;
            })
            .catch(error => console.error('Error:', error));
    }

    function showPopup(message) {
        alert(message);
    }
</script>
</body>
</html>