<!DOCTYPE html>
<html lang="en"
      xmlns:th="https://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link rel="stylesheet" href="../static/styles/new-home.css" th:href="@{/styles/new-home.css}">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
</head>
<body>
<div class="container1">
    <h1>What do you want to do today?</h1>
</div>
<div class="container2">
    <div class="centered-frame-blue blue-frame">
        <div class="content-frame-blue" onclick="location.href='/review'">
            <h2 class="title">Review Previous Word</h2>
            <p class="description">Here you can review the words you have previously learned. This section allows you to revisit and reinforce your vocabulary knowledge, ensuring better retention and understanding of the words you have studied.</p>
            <button class="review-button" onclick="location.href='/review'">REVIEW WORD</button>
        </div>
    </div>
    <div class="centered-frame-red red-frame">
        <div class="content-frame-red" onclick="location.href='/video'">
            <h2 class="title">Watch Video</h2>
            <p class="description">Watch English videos to improve your language skills. This section provides a variety of videos that cover different aspects of the English language, including grammar, vocabulary, pronunciation, and more.</p>
            <button class="watch-button" onclick="location.href='/video'">LET'S WATCH</button>
        </div>
    </div>
    <div class="centered-frame-green green-frame" onclick="location.href='/wordSet'">
        <div class="content-frame-green">
            <h2 class="title">My Sets</h2>
            <p class="description">Explore your personalized sets! Create, manage your custom flashcard sets to enhance your learning experience. Dive into a world of tailored content that suits your study needs and track your progress as you master new topics.</p>
            <button class="sets-button" onclick="location.href='/wordSet'">GO TO SETS</button>
        </div>
    </div>
</div>
</body>
</html>