<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Layout</title>
    <link rel="stylesheet" href="../static/styles/header.css" th:href="@{/styles/header.css}">
</head>
<header class="main-header">
        <div class="logo-container">
            <a href="#" th:href="@{/}">
                <img id="logo" src="../static/img/logo.png" th:src="@{/img/logo.png}" alt="Logo" class="logo" style="cursor: pointer;">
            </a>
        </div>
        <nav class="main-nav">
            <ul>
                <li><a href="#" th:href="@{/}">Home</a></li>
                <li><a href="#" th:href="@{/wordSet}">My sets</a></li>
                <li><a href="#" th:href="@{/profileSettings}">My profile</a></li>
            </ul>
        </nav>
    <div class="user-actions">
        <div class="profile" sec:authorize="isAuthenticated()">
            <a href="#" th:href="@{/logout}">Logout</a>
        </div>
        <div class="auth-links" sec:authorize="!isAuthenticated()">
            <a href="#" th:href="@{/login}">Login</a>
            <a href="#" th:href="@{/rejestracja}">Register</a>
        </div>
    </div>
</header>
</html>