<!DOCTYPE html>
<html lang="pl"
      xmlns:th="https://www.thymeleaf.org">
<head>
    <title>Login in</title>
    <link rel="stylesheet" href="../static/styles/styles.css" th:href="@{/styles/styles.css}">
</head>
<body>
<main class="main-content">
    <h2 class="list-heading">Login in</h2>
    <form action="" th:action="@{/login}" method="post" class="mc-form">

        <p th:if="${param.error}"
           th:text="${session['SPRING_SECURITY_LAST_EXCEPTION'].message}"
           class="mc-form-message">
            Login error.
        </p>
        <p th:if="${param.logout}" class="mc-form-message">
            You have been logged out, you can log in again.
        </p>
        <label for="username">Adres email</label>
        <input id="username" name="username" placeholder="e-mail">
        <label for="password">Password</label>
        <input id="password" name="password" placeholder="password" type="password">
        <button type="submit">Login in</button>
        <p class="registration-link">Don't have an account yet? <a href="#" th:href="@{registration}">Register</a></p>
    </form>
</main>
</body>
</html>