<!DOCTYPE html>
<html lang="en"
      xmlns:th="https://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <meta charset="UTF-8">
    <title>Test Result</title>
    <link rel="stylesheet" href="../static/styles/learn.css" th:href="@{/styles/learn.css}">
    <link rel="stylesheet" href="../static/styles/button-style.css" th:href="@{/styles/button-style.css}">
    <link rel="stylesheet" href="../static/styles/header.css" th:href="@{/styles/header.css}">
</head>
<body>
<div class="test-result-container">
    <h1 class="test-result-heading">Test Result</h1>
    <p>Your score is: <span th:text="${score}"></span> points.</p>

    <div th:if="${uncorrectedUserAnswers.size() > 0}">
        <h2>Incorrect Answers</h2>
        <ul class="incorrect-answers-list">
            <li th:each="word, stat : ${uncorrectedWords}" class="incorrect-answer-item">
                <p>Word: <span th:text="${word.word}"></span></p>
                <p>Your Answer: <span th:text="${uncorrectedUserAnswers[stat.index]}" class="user-answer"></span></p>
                <p>Correct Answer: <span th:text="${word.translation}" class="correct-answer"></span></p>
            </li>
        </ul>
    </div>

    <div th:if="${correctWords.size() > 0}">
        <h2>Correct Answers</h2>
        <ul class="correct-answers-list">
            <li th:each="word, stat : ${correctWords}" class="correct-answer-item">
                <p>Word: <span th:text="${word.word}"></span></p>
                <p>Your Answer: <span th:text="${word.translation}" class="correct-answer"></span></p>
            </li>
        </ul>
    </div>

    <a href="/wordSet" class="back-button">Back to Word Sets</a>
</div>

</body>
</html>