<!DOCTYPE html>
<html lang="en"
      layout:decorate="~{layout}"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="${title}">Video Page</title>
    <link href="../static/styles/video.css" rel="stylesheet" th:href="@{/styles/video.css}">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">
</head>
<body>
<section class="video-section">

    <button class="other-movies-button" onclick="window.location.href='/video/showAll'">See other movies</button>
    <h2 class="video-section-heading" th:text="${title}">Video Title</h2>
    <iframe allow="autoplay; encrypted-media" allowfullscreen class="movie-trailer"
            frameborder="0"
            height="600" th:src="${url}" width="900"></iframe>
    <p>Posted by: <span th:text="${userName}">Username</span></p>
</section>
<section class="rating-section">
    <h3 class="video-section-heading">Rate this video</h3>
    <form class="rating-form" method="post" th:action="@{/video/{id}/rate(id=${videoId})}">
        <div class="movie-rating-buttons">
            <input id="rating" name="rating" type="hidden" value="0"/>
            <button class="video-rating-button"
                    name="rating"
                    th:each="i: ${#numbers.sequence(1, 5)}"
                    th:onclick="'document.getElementById(\'rating\').value=' + ${i} + '; this.form.submit();'"
                    th:value="${i}">
                <i class="fa-heart" th:classappend="${i <= userRating ? 'fa-solid' : 'fa-regular'}"></i>
            </button>
        </div>
    </form>
</section>
<section class="comments-section">
    <h3 class="video-section-heading">Comments</h3>
    <ul>
        <li th:each="comment : ${comments}">
            <p th:text="${comment.content}">Comment content</p>
            <div class="comment-meta">
                <small th:text="${comment.user.userName}">Username</small>
                <small th:text="${comment.formattedDateAndTime}">Date and Time</small>
                <a class="delete-comment"
                   th:if="${#authentication.name == comment.user.email || #authentication.authorities.contains('ADMIN')}"
                   th:onclick="'event.preventDefault(); document.getElementById(\'delete-comment-form-' + ${comment.id} + '\').submit();'">Delete</a>
                <form style="display:none;" th:action="@{/video/{videoId}/deleteComment(videoId=${videoId})}"
                      th:id="'delete-comment-form-' + ${comment.id}" th:method="post">
                    <input name="commentId" th:value="${comment.id}" type="hidden"/>
                </form>
            </div>
        </li>
    </ul>
    <form class="comment-form" method="post" th:action="@{/video/{id}/addComment(id=${videoId})}">
        <textarea name="content" placeholder="Add a comment..." required></textarea>
        <button type="submit">Add Comment</button>
    </form>
</section>
</body>
</html>