<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Twoje Zestawy</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/styles/wordsets.css" th:href="@{/styles/wordsets.css}">
    <link rel="stylesheet" href="../static/styles/header.css" th:href="@{/styles/header.css}">
</head>
<header>
<div th:replace="header :: header"></div>
</header>
<body>
<main class="main-content">
    <h1>Twoje Zestawy</h1>
    <div th:if="${#lists.isEmpty(wordSets)}" class="no-sets-message">
        <p>Nie masz jeszcze żadnych zestawów.</p>
    </div>
    <div th:unless="${#lists.isEmpty(wordSets)}">
        <div class="word-sets-container">
            <div th:each="wordSet : ${wordSets}" class="word-set-card">
                <a th:href="@{/wordSet/{id}(id=${wordSet.id})}" class="word-set-link">
                    <h2 th:text="${wordSet.title}" class="word-set-title">Tytuł zestawu</h2>
                    <p th:text="${wordSet.description}" class="word-set-description">Opis zestawu</p>
                </a>
            </div>
        </div>
    </div>
</main>
</body>
</html>