<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="../static/styles/button-style.css" th:href="@{/styles/button-style.css}">
    <link rel="stylesheet" href="../static/styles/frame-style.css" th:href="@{/styles/frame-style.css}">
</head>
<body>
    <header>
        <div class="buttons-container">
            <a th:href="@{/wordSet/{id}(id=${wordSet.id})}" class="back-to-set-button back-to-set-link"> &lt; Back to set</a>
            <button form="wordSetForm" type="submit" class="save-changes-button">Save Changes</button>
        </div>
    </header>
    <form id="wordSetForm" th:action="@{/wordSet/{id}/update(id=${wordSet.id})}" th:object="${wordSet}" method="post">
        <label for="name">Name:</label>
        <input type="text" id="name" th:field="*{title}" class="input-large" placeholder="Set a title.."/>
        <label for="description">Description:</label>
        <textarea id="description" th:field="*{description}" class="input-large" placeholder="Add a description.."></textarea>

        <h2>Words in the set</h2>
        <ul>
            <li th:each="word, iterStat : ${words}">
                <label th:for="${'word-' + iterStat.index}">Word:</label>
                <input type="text" th:id="${'word-' + iterStat.index}" th:value="${word.word}" th:name="${'words[' + iterStat.index + '].word'}" class="input-large"/>
                <label th:for="${'translation-' + iterStat.index}">Translation:</label>
                <input type="text" th:id="${'translation-' + iterStat.index}" th:value="${word.translation}" th:name="${'words[' + iterStat.index + '].translation'}" class="input-large"/>
            </li>
        </ul>
    </form>
</body>
</html>