spring:
  profiles:
    active: dev
  datasource:
    url: jdbc:postgresql://localhost:5432/reservations
    username: postgres
    password: postgres
  jpa:
    hibernate:
      ddl-auto: create-drop
    defer-datasource-initialization: true
  flyway:
    enabled: false
  sql:
    init:
      mode: always
  messages:
    basename: messages,ValidationMessages
    encoding: UTF-8
    locale: en
  web:
    locale-resolver: fixed
    locale: en

deepl:
  auth-key: 8ec376ab-7847-48d6-9941-23856ca6a578:fx

auth:
  jwt:
    expirationDays: 30
    secret: ${JWT_SECRET:ababababbbsadfweawgehrth}
    issuer: sb-reservation-system-backend

app:
  cors:
    allowed-origin: "http://68.183.66.208"