/* General styles for the form */
body {
    background-color: #121212;
    color: #fcfcfc;
}
form {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    background-color: #343333;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Style for the labels */
label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

/* Style for the input fields */
.input-large {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #b5b5b9;
    border-radius: 5px;
    box-sizing: border-box;
}

.input-large-l {
    width: 45%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #b5b5b9;
    border-radius: 5px;
    box-sizing: border-box;
}

.language {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.language > div {
    display: flex;
    flex-direction: column;
    width: 45%;
}

.input-large:focus {
    border-bottom: 3px solid black; /* Black border at the bottom when focused */
    outline: none; /* Remove default outline */
}

/* Style for the textarea */
textarea.input-large {
    height: 100px;
    resize: none;
}

/* Style for the list of words */
ul {
    list-style-type: none;
    padding: 0;
}

/* Style for each list item */
ul li {
    margin-bottom: 20px;
}

/* Style for the word pair */
.word-pair {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.word-pair > div {
    margin-right: 20px; /* Adjust the value as needed */
}

/* Style for the delete button */
.delete-word-button {
    background-color: #ff4d4d;
    color: white;
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
}

.delete-word-button:hover {
    background-color: #cc0000;
}

/* Style for the add word button */
.add-word-button {
    display: block;
    max-width: 1250px;
    padding: 15px;
    background-color: #007bff; /* Blue background */
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    text-align: center;
    margin-top: 20px;
}

.add-word-button:hover {
    text-overline-color: #007bff;
    text-decoration-line: blink;
}

/* Style for the header */
header {
    background-color: #EDEDED;
    padding: 10px 20px;
    border-bottom: 1px solid #ccc;
    margin: -10px -10px 20px;
    position: sticky; /* Make header sticky */
    top: 0; /* Stick to the top */
    z-index: 1000; /* Ensure it is above other content */
}

/* Style for the buttons container */
.buttons-container-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Style for the back to set link */
.back-to-set-link {
    color: #007bff;
    text-decoration: none;
    font-weight: bold;
}

.back-to-set-link:hover {
    color: #0056b3;
}

/* Style for the save changes button */
.save-changes-button {
    background-color: #007bff; /* Blue background */
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.save-changes-button:hover {
    background-color: #0056b3;
}


.input-large-word-pair {
    width: 550px;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #b5b5b9;
    border-radius: 5px;
    box-sizing: border-box;
}

.input-large-word-pair:focus {
    border-bottom: 3px solid black; /* Black border at the bottom when focused */
    outline: none; /* Remove default outline */
}