body {
    display: flex;
    flex-direction: column; /* Stack elements vertically */
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #121212;
    font-family: 'Roboto', sans-serif;
}

.container1 {
    margin-top: 150px;
    margin-bottom: 20px; /* Add space between the two containers */
}

.container2 {
    display: flex; /* Display items in a row */
    justify-content: center;
    align-items: flex-start; /* Align frames to the top */
    gap: 20px; /* Add space between frames */
}

h1 {
    color: white;
    font-size: 36px;
    text-align: center;
}

.frames-container {
    display: flex;
    justify-content: center;
    align-items: flex-start; /* Align frames to the top */
    gap: 20px; /* Add space between frames */
}

h2 {
    color: white;
    font-size: 24px;
}


.title {
    font-size: 24px;
    margin-bottom: 10px;
    text-align: center;
}

.description {
    font-size: 17px;
    text-align: justify;
    line-height: 1.5;
    margin-bottom: 20px;
}

/*BLUE*/
.centered-frame-blue {
    width: 350px;
    height: 500px;
    background-size: cover;
    background-position: center;
    box-shadow: 0 0 70px rgba(0, 0, 255, 0.5);
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 20px;
    box-sizing: border-box;
    position: relative;
    margin-right: 20px; /* Add space between frames */
}

.centered-frame-blue::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(48, 48, 59, 0.5);
    z-index: 1;
}

.centered-frame-blue:hover {
    transform: scale(1.01);
    box-shadow: 0 40px 70px rgba(0, 0, 255, 0.7);
}

.blue-frame {
    background-image: url('../img/blue-light.jpg');
}



.content-frame-blue {
    width: 300px;
    height: 300px;
    background-color: black;
    padding: 20px;
    margin-top: 70px;
    box-shadow: 0 0 20px rgba(0, 0, 255, 0.5);
    text-align: center;
    color: white;
    position: relative;
    z-index: 2;
}

.review-button {
    background-color: black;
    color: #00f;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    font-weight: bold;
    box-shadow: 0 0 70px rgba(0, 0, 255, 0.5);
    text-align: center;
}

.review-button:hover {
    color: #fcfcfc;
    box-shadow: 0 0 20px rgba(0, 0, 255, 0.7);
}

/*RED*/
.centered-frame-red {
    width: 350px;
    height: 500px;
    background-size: cover;
    background-position: center;
    box-shadow: 0 0 70px rgba(255, 0, 0, 0.5);
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 20px;
    box-sizing: border-box;
    position: relative;
    margin-right: 20px; /* Add space between frames */

}

.centered-frame-red::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(108, 53, 53, 0.5);
    z-index: 1;
}

.centered-frame-red:hover {
    transform: scale(1.01);
    box-shadow: 0 100px 100px rgba(255, 0, 0, 0.7);
}


.content-frame-red {
    width: 300px;
    height: 300px;
    background-color: black;
    padding: 20px;
    margin-top: 70px;
    box-shadow: 0 0 20px rgba(255, 0, 0, 0.5);
    text-align: center;
    color: white;
    position: relative;
    z-index: 2;

}

.red-frame {
    background-image: url('../img/red-light.png');
    box-shadow: 0 0 70px rgba(255, 0, 0, 0.5);
}

.red-frame:hover {
    box-shadow: 0 40px 70px rgba(255, 0, 0, 0.7);
}

.watch-button {
    background-color: black;
    color: #ff0000;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    font-weight: bold;
    box-shadow: 0 0 70px rgba(255, 0, 0, 0.5);
    text-align: center;
}

.watch-button:hover {
    color: white;
    box-shadow: 0 0 20px rgba(255, 0, 0, 0.7);
}

/*GREEN*/
.centered-frame-green {
    width: 350px;
    height: 500px;
    background-size: cover;
    background-position: center;
    box-shadow: 0 0 70px rgba(0, 255, 0, 0.5);
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 20px;
    box-sizing: border-box;
    position: relative;
    margin-right: 20px; /* Add space between frames */
}

.centered-frame-green::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(53, 108, 53, 0.5);
    z-index: 1;
}

.centered-frame-green:hover {
    transform: scale(1.01);
    box-shadow: 0 40px 70px rgba(0, 255, 0, 0.7);
}

.green-frame {
    background-image: url('../img/green-light.jpg');
}

.content-frame-green {
    width: 300px;
    height: 300px;
    background-color: black;
    padding: 20px;
    margin-top: 70px;
    box-shadow: 0 0 20px rgba(0, 255, 0, 0.5);
    text-align: center;
    color: white;
    position: relative;
    z-index: 2;
}

.sets-button {
    background-color: black;
    color: #00ff00;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    font-weight: bold;
    box-shadow: 0 0 70px rgba(0, 255, 0, 0.5);
    text-align: center;
}

.sets-button:hover {
    color: white;
    box-shadow: 0 0 20px rgba(0, 255, 0, 0.7);
}