<!DOCTYPE html>
<html lang="en" xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Layout</title>
    <link href="../../../../../frontend/src/styles/header.css" rel="stylesheet" th:href="@{/frontend/src/styles/header.css}">
</head>
<header class="main-header">
    <div class="logo-container">
        <a href="#" th:href="@{/}">
            <img alt="Logo" class="logo" id="logo" src="../../../../../frontend/public/img/logo.png" style="cursor: pointer;"
                 th:src="@{/img/logo.png}">
        </a>
    </div>
    <nav class="main-nav">
        <ul>
            <li><a href="#" th:href="@{/}">Home</a></li>
            <li><a href="#" th:href="@{/wordSet}">My sets</a></li>
            <li><a href="#" th:href="@{/profileSettings}">My profile</a></li>
            <li><a href="#" th:href="@{/video/showAll}">Watch video</a></li>
        </ul>
    </nav>
    <div class="user-actions">
        <div class="profile" sec:authorize="isAuthenticated()">
            <a href="#" th:href="@{/logout}">Logout</a>
        </div>
        <div class="auth-links" sec:authorize="!isAuthenticated()">
            <a href="#" th:href="@{/login}">Login</a>
            <a href="#" th:href="@{/rejestracja}">Register</a>
        </div>
    </div>
</header>
</html>