<!DOCTYPE html>
<html lang="en"
      layout:decorate="~{layout}"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Flashcards</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <link href="../../../../../frontend/src/styles/flash-card.css" rel="stylesheet" th:href="@{/frontend/src/styles/flash-card.css}">
</head>
<body>
<main class="main-content">
    <div class="flashcard-container">
        <div class="flashcard" id="flashcard">
            <div class="flashcard-front">
                <p id="flashcard-word" th:text="${words[nextWordIndex].word}">Word</p>
            </div>
            <div class="flashcard-back">
                <p id="flashcard-translation" th:text="${words[nextWordIndex].translation}">Translation</p>
            </div>
        </div>
    </div>
    <h3>Do you know this word?</h3>
    <div class="buttons-container">
        <form method="post" th:action="@{/wordSet/{id}/flashCards/like(id=${wordSetId})}">
            <input name="wordId" th:value="${words[nextWordIndex].id}" type="hidden">
            <button class="emoji-button like-button" type="submit">👍</button>
        </form>
        <form method="post" th:action="@{/wordSet/{id}/flashCards/dislike(id=${wordSetId})}">
            <input name="wordId" th:value="${words[nextWordIndex].id}" type="hidden">
            <button class="emoji-button dislike-button" type="submit">👎</button>
        </form>
    </div>
    <input id="wordSetId" th:value="${wordSetId}" type="hidden">
    <input id="wordId" th:value="${words[nextWordIndex].id}" type="hidden">
</main>
</body>
</html>