<!DOCTYPE html>
<html lang="en"
      layout:decorate="~{layout}"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Learning Test</title>
    <link href="../../../../../frontend/src/styles/learn.css" rel="stylesheet" th:href="@{/frontend/src/styles/learn.css}">
    <link href="../../../../../frontend/src/styles/button-style.css" rel="stylesheet" th:href="@{/frontend/src/styles/button-style.css}">
</head>
<body>
<div class="navigation-bar">
    <a class="back-button" th:href="@{/wordSet/{id}(id=${wordSetId})}">Back to Word Sets</a>
</div>
<form method="post" th:action="@{/wordSet/{id}/submitTest(id=${wordSetId})}">
    <ol>
        <li th:each="word : ${words}">
            <label th:text="${word.word}"></label>
            <input placeholder="Your answer here" th:name="${'answer_' + word.id}" type="text">
        </li>
    </ol>
    <button class="submit-test-button" type="submit">Submit Test</button>
</form>
</body>
</html>