<!DOCTYPE html>
<html lang="pl"
      xmlns:th="https://www.thymeleaf.org">
<head>
    <title>Register | MovieClub</title>
    <link href="../../../../../frontend/src/styles/styles.css" rel="stylesheet" th:href="@{/frontend/src/styles/styles.css}">
</head>
<body>
<main class="main-content">
    <h2 class="list-heading">Register</h2>
    <form action="#" class="mc-form" method="post" th:action="@{registration}" th:object="${user}">
        <label for="username">User name</label>
        <input id="username" placeholder="User name" th:field="*{username}" type="text">
        <label for="email">Adres email</label>
        <input id="email" placeholder="email" th:field="*{email}" type="email">
        <label for="password">Password</label>
        <input id="password" placeholder="password" th:field="*{password}" type="password">
        <button type="submit">Register</button>
        <div th:if="${constraintViolations != null}">
            <ul>
                <li th:each="violation : ${constraintViolations}" th:text="${violation}"></li>
            </ul>
        </div>
    </form>
</main>
</body>
</html>