<!DOCTYPE html>
<html lang="en"
      layout:decorate="~{layout}"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Test Result</title>
    <link href="../static/styles/learn.css" rel="stylesheet" th:href="@{/styles/learn.css}">
    <link href="../static/styles/button-style.css" rel="stylesheet" th:href="@{/styles/button-style.css}">
    <link href="../static/styles/header.css" rel="stylesheet" th:href="@{/styles/header.css}">
</head>
<body>
<div class="test-result-container">
    <h1 class="test-result-heading">Test Result</h1>
    <p>Your score is: <span th:text="${score}"></span> points.</p>

    <div th:if="${uncorrectedUserAnswers.size() > 0}">
        <h2>Incorrect Answers</h2>
        <ul class="incorrect-answers-list">
            <li class="incorrect-answer-item" th:each="word, stat : ${uncorrectedWords}">
                <p>Word: <span th:text="${word.word}"></span></p>
                <p>Your Answer: <span class="user-answer" th:text="${uncorrectedUserAnswers[stat.index]}"></span></p>
                <p>Correct Answer: <span class="correct-answer" th:text="${word.translation}"></span></p>
            </li>
        </ul>
    </div>

    <div th:if="${correctWords.size() > 0}">
        <h2>Correct Answers</h2>
        <ul class="correct-answers-list">
            <li class="correct-answer-item" th:each="word, stat : ${correctWords}">
                <p>Word: <span th:text="${word.word}"></span></p>
                <p>Your Answer: <span class="correct-answer" th:text="${word.translation}"></span></p>
            </li>
        </ul>
    </div>

    <a class="back-button" href="/wordSet">Back to Word Sets</a>
</div>

</body>
</html>