<!DOCTYPE html>
<html lang="en"
      layout:decorate="~{layout}"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="'Video Menu'">Video Menu</title>
    <link href="../../../../../frontend/src/styles/video-menu.css" rel="stylesheet" th:href="@{/frontend/src/styles/video-menu.css}">
</head>
<body>
<form action="/video/search" class="search-form" method="get">
    <textarea id="search" name="query" placeholder="Type your search here..."></textarea>
    <button type="submit">&#128270;</button>
</form>

<section class="video-menu-section" th:if="${top5BestRatedVideosLast7Days != null}">
    <h2 class="section-heading">Top 4 best rated videos this week</h2>
    <ul>
        <li th:each="video : ${top5BestRatedVideosLast7Days}">
            <div class="iframe-container">
                <iframe class="movie-trailer" th:src="${video.url}"></iframe>
                <div class="overlay"
                     th:onclick="|window.location.href='@{/video/{videoId}(videoId=${video.id})}'|"></div>
            </div>
            <div class="video-details">
                <a class="title" th:href="@{/video/{videoId}(videoId=${video.id})}" th:text="${video.title}">Video
                    Title</a>
                <div class="rating">
                    <span th:classappend="${star <= videoRatings[video.id]} ? 'filled' : 'empty'"
                          th:each="star : ${#numbers.sequence(1, 5)}">&#10084;</span>
                </div>
            </div>
        </li>
    </ul>
</section>
<section class="back-button-style" th:if="${top5BestRatedVideosLast7Days == null}">
    <button onclick="window.location.href='/video/showAll'">
        GO BACK
    </button>
</section>

<section class="video-menu-section">
    <h2 class="section-heading-allVideo">All videos</h2>
    <ul>
        <li th:each="video : ${videos}">
            <div class="iframe-container">
                <iframe class="movie-trailer" th:src="${video.url}"></iframe>
                <div class="overlay"
                     th:onclick="|window.location.href='@{/video/{videoId}(videoId=${video.id})}'|"></div>
            </div>
            <div class="video-details">
                <a class="title" th:href="@{/video/{videoId}(videoId=${video.id})}" th:text="${video.title}">Video
                    Title</a>
                <div class="rating">
                    <span th:classappend="${star <= videoRatings[video.id]} ? 'filled' : 'empty'"
                          th:each="star : ${#numbers.sequence(1, 5)}">&#10084;</span>
                </div>
            </div>
        </li>
    </ul>
</section>
<section class="add-video-section">
    <form action="/video/addVideo" method="post" th:object="${video}">
        <input name="url" placeholder="Video URL" required type="text">
        <input name="title" placeholder="Video Title" required type="text">
        <input th:name="${_csrf.parameterName}" th:value="${_csrf.token}" type="hidden"/>
        <button class="add-video-button" type="submit">Add Video</button>
    </form>
</section>

</body>
</html>