<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Edit Word Set</title>
    <link href="../../../../../frontend/src/styles/edit-set.css" rel="stylesheet" th:href="@{/frontend/src/styles/edit-set.css}">
    <link href="../../../../../frontend/src/styles/button-style.css" rel="stylesheet" th:href="@{/frontend/src/styles/button-style.css}">
</head>
<body>
<header>
    <div class="buttons-container-header">
        <a class="back-to-set-button back-to-set-link" th:href="@{/wordSet/{id}(id=${wordSet.id})}"> &lt; Back to
            set</a>
        <button class="save-changes-button" form="wordSetForm" type="submit">Save Changes</button>
    </div>
</header>
<form id="wordSetForm" method="post" th:action="@{/wordSet/{id}/update(id=${wordSet.id})}" th:object="${wordSet}">
    <label for="name">Name:</label>
    <input class="input-large" id="name" placeholder="Set a title.." th:field="*{title}" type="text"/>
    <label for="description">Description:</label>
    <textarea class="input-large" id="description" placeholder="Add a description.."
              th:field="*{description}"></textarea>

    <div class="language">
        <div>
            <label for="language">Language:</label>
            <select class="input-large-l" id="language" th:field="*{language}">
                <option value="pl">Polish</option>
                <option value="en-US">English</option>
                <option value="de">German</option>
                <option value="es">Spanish</option>
            </select>
        </div>
        <div>
            <label for="translationLanguage">Translation Language:</label>
            <select class="input-large-l" id="translationLanguage" th:field="*{translationLanguage}">
                <option value="pl">Polish</option>
                <option value="en-US">English</option>
                <option value="de">German</option>
                <option value="es">Spanish</option>
            </select>
        </div>
    </div>

    <h2>Words in the set</h2>
    <ul>
        <li class="word-item" th:each="word, iterStat : ${words}">
            <div class="word-pair">
                <div>
                    <label th:for="${'word-' + iterStat.index}">Word:</label>
                    <input class="input-large-word-pair" onblur="fetchTranslation(this)"
                           th:id="${'word-' + iterStat.index}"
                           th:name="${'words[' + iterStat.index + '].word'}" th:value="${word.word}"
                           type="text"/>
                </div>
                <div>
                    <label th:for="${'translation-' + iterStat.index}">Translation:</label>
                    <input class="input-large-word-pair" th:id="${'translation-' + iterStat.index}"
                           th:name="${'words[' + iterStat.index + '].translation'}"
                           th:value="${word.translation}" type="text"/>
                </div>
                <button class="delete-word-button"
                        th:attr="onclick='deleteWord(' + ${wordSet.id} + ',' + ${word.id} + ')'"
                        type="button">Delete
                </button>
            </div>
        </li>
    </ul>
</form>
<button class="add-word-button" onclick="addNewWord()" type="button">+ ADD CART</button>

<script>
    function addNewWord() {
        const list = document.querySelector('ul');
        const index = list.children.length;

        const li = document.createElement('li');
        li.classList.add('word-item');

        const wordPair = document.createElement('div');
        wordPair.classList.add('word-pair');

        const wordDiv = document.createElement('div');
        const wordLabel = document.createElement('label');
        wordLabel.setAttribute('for', `word-${index}`);
        wordLabel.textContent = 'Word:';
        wordDiv.appendChild(wordLabel);

        const wordInput = document.createElement('input');
        wordInput.setAttribute('type', 'text');
        wordInput.setAttribute('id', `word-${index}`);
        wordInput.setAttribute('name', `words[${index}].word`);
        wordInput.classList.add('input-large-word-pair');
        wordInput.setAttribute('onblur', 'fetchTranslation(this)');
        wordDiv.appendChild(wordInput);

        const translationDiv = document.createElement('div');
        const translationLabel = document.createElement('label');
        translationLabel.setAttribute('for', `translation-${index}`);
        translationLabel.textContent = 'Translation:';
        translationDiv.appendChild(translationLabel);

        const translationInput = document.createElement('input');
        translationInput.setAttribute('type', 'text');
        translationInput.setAttribute('id', `translation-${index}`);
        translationInput.setAttribute('name', `words[${index}].translation`);
        translationInput.classList.add('input-large-word-pair');
        translationDiv.appendChild(translationInput);

        const deleteButton = document.createElement('button');
        deleteButton.textContent = 'Delete';
        deleteButton.classList.add('delete-word-button');
        deleteButton.setAttribute('title', 'Save the word set to enable deletion');

        wordPair.appendChild(wordDiv);
        wordPair.appendChild(translationDiv);
        wordPair.appendChild(deleteButton);
        li.appendChild(wordPair);
        list.appendChild(li);
    }

    function deleteWord(wordSetId, wordId) {
        const url = `/wordSet/${wordSetId}/deleteWord/${wordId}`;
        fetch(url, {method: 'GET'})
            .then(response => {
                if (response.ok) {
                    window.location.reload();
                } else {
                    alert('Failed to delete word.');
                }
            })
            .catch(error => console.error('Error deleting word:', error));
    }

    function fetchTranslation(wordInput) {
        const word = wordInput.value;
        const translationInput = wordInput.parentElement.nextElementSibling.querySelector('input');
        const currentLang = document.getElementById('language').value;
        const targetLang = document.getElementById('translationLanguage').value;

        if (word && !translationInput.value) {
            fetch(`/translate?text=${word}&currentLanguage=${currentLang}&targetLang=${targetLang}`)
                .then(response => response.text())
                .then(data => {
                    translationInput.value = data;
                })
                .catch(error => console.error('Error fetching translation:', error));
        }
    }
</script>
</body>
</html>